/* .logo{
 
  background-repeat: no-repeat;
 background-size: contain;
  background-blend-mode: multiply;
  height: 4vh;
  width: 14vw;
}


@media all and (max-width:1536px) {
  .flag-dropdown{
    width: 14% !important;
    padding-left: 2px  !important;
    background-color:white !important;
    border: 2px  solid rgb(203 213 225) !important;
    border-color: rgb(203 213 225) !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
  }
}

@media all and (max-width:1280px) {
  .flag-dropdown{
    width: 14% !important;
    padding-left: 2px  !important;
    background-color:white !important;
    border: 2px  solid rgb(203 213 225) !important;
    border-color: rgb(203 213 225) !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
  }
}
@media all and (max-width:1024px) {
  .flag-dropdown{
    width: 14% !important;
    padding-left: 3px  !important;
   
  }
}
@media all and (max-width:640px) {
  .flag-dropdown{
    width: 10vw !important;
    padding-left: 1vw  !important;
   
  }
}
 */
